*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    height: 30vh;
    width: 40vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
